//---------------------------------------------
//
//  Clients Component
//
//    1. Imports
//    2. Component
//
//---------------------------------------------

//---------------------------------------------
// 1. Imports
//---------------------------------------------

@import "../variables";

//---------------------------------------------
// 2. Component
//---------------------------------------------

#clients {
  margin-top: 85px;

  .item {
    height: 50px;
    line-height: 50px;
    text-align: center;

    img {
      vertical-align: middle;
      width: auto;
      margin: auto;
      display: inline-block;
    }
  }
}
