//---------------------------------------------
//
//  Footer Component
//
//    1. Imports
//    2. Component
//
//---------------------------------------------

//---------------------------------------------
// 1. Imports
//---------------------------------------------

@import "../variables";

//---------------------------------------------
// 2. Component
//---------------------------------------------

footer {
  padding: 52px 0;
  background-color: #253164;
  color: #FFFFFF;

  .footer_logo {
    filter: brightness(0) invert(1);
  }

  ul {
    list-style-type: none;

    li {
      &:first-of-type {margin-left: 0!important;}
      &:last-of-type {margin-right: 0!important;}

      a {
        color: #FFFFFF;
        text-decoration: unset;

        &:hover {
          color: #6c757d;
        }
      }
    }

    &.footer_menu li {
      display: inline-block;
      margin: 0 45px;
      padding-top: 5px;

      a {
        font-size: 15px;
        font-weight: 400;
      }
    }

    &.footer_social li {
      display: inline-block;
      margin: 0 30px;
      padding-top: 5px;
      font-size: 21px;
    }

  }
}
