//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";

// If you do not want to load the customized bootstrap version, just use the following line.
// @import "~bootstrap/scss/bootstrap";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
  background-image: url("../images/welcome_bg.png");
  background-position: right -440px top -130px;
  background-repeat: no-repeat;
  background-size: 1089px 1262px;
  overflow-x: hidden;
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/header";
@import "components/welcome";
@import "components/clients";
@import "components/services";
@import "components/pricing";
@import "components/features";
@import "components/testimonial";
@import "components/free_start";
@import "components/blog";
@import "components/footer";


@import "responsive";
